<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar animated aria-placeholder="Search" 
    showCancelButton
    (ionInput) = "getItem($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor = "let datos of itens">
      <ion-thumbnail slot = "start">
          <img src= {{datos.iconURL}}>
      </ion-thumbnail>
      <ion-label>{{datos.name}}</ion-label>
      <ion-button>Jogar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
