<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar animated></ion-searchbar>
  </ion-item>

  <ion-list>

    <ion-item>
        <ion-thumbnail slot="start">
          <img src="http://2.bp.blogspot.com/-HqSOKIIV59A/U8WP4WFW28I/AAAAAAAAT5U/qTSiV9UgvUY/s1600/icon.png">
        </ion-thumbnail>
        <ion-label>League of Legends</ion-label>
        <ion-button>Jogar</ion-button>
    </ion-item>

    <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.utdstc.com/icons/burrito-bison-launcha-libre-android.png:l">
        </ion-thumbnail>
        <ion-label>Burrito Bison</ion-label>
        <ion-button>Jogar</ion-button>
    </ion-item>

    <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdn.wezift.com/assets/apps/adventure-capitalist/logo/b6051bc3aa08573d6c6ad6c8c925207a.png?mtime=20171005201239">
        </ion-thumbnail>
        <ion-label>Adventure Captalist</ion-label>
        <ion-button>Jogar</ion-button>
    </ion-item>


  </ion-list>


</ion-content>
